.title-bg {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-height: 1049px) {
    .title-bg {
        min-height: 0px;
        height: 1050px;
    }
}

.title-row {
    height: 100% !important;
}

.tiled-image {
    max-width: 100%;
    height: auto;
}

.title-header {
    font-family: 'Permanent Marker', cursive;
    color: #006d77;
    font-size: 4.4vw;
}



.title-text {
    font-family: 'Overpass', sans-serif !important;
    font-size: 1.5vw !important;
    font-weight: 300;
    line-height: 2vw !important;
    color: #b3735c;
}

@media screen and (max-width: 768px) {
    .title-header {
        font-size: 9vw !important;
    }

    .title-text {
        font-size: 3.5vw !important;
        line-height: 4.5vw !important;
    }

    .tiled-image {
        width: 80%;
        padding-top: 85px ;
    }

}

